language: node_js

node_js:
    - stable

sudo: false

before_install:
    - npm install -g gulp

install:
    - npm install

script:
    - npm test
    - gulp

after_success:
    - bash script/deploy
