option_settings:
  - namespace: aws:elb:listener:443
    option_name: ListenerProtocol
    value: HTTPS
  - namespace: aws:elb:listener:443
    option_name: SSLCertificateId
    value: arn:aws:acm:us-east-1:252420778140:certificate/38187c39-2aa6-44f5-b9b4-0972cdd9adc3
  - namespace: aws:elb:listener:443
    option_name: InstancePort
    value: 80
  - namespace: aws:elb:listener:443
    option_name: InstanceProtocol
    value: HTTP
